*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.top{
    background-image: url("../img/pexels-photo-2341290.jpeg ");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
}
.bakery-name{
    font-size: 30px;
}
.nav{
    display: flex;
    justify-content: space-between;  
    margin-bottom: 5rem;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 25rem;
}
.list{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.info{
    display: flex;
    width: 12rem;
    justify-content: space-between;
}
/* end of nav */
.cake{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.cake-h1{
    font-size: 45px;
}
.cake-p{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;   
}
.cake-text{ 
    width: calc(50% - 2.1rem);
}
.cake-img{
    width: calc(50% - 2.1rem);
    display: flex;
    justify-content: space-around;
}
.cake-img img{
    width: 60%;
    height: 90%;
}
.cake-button {   
    background-color: rgb(163, 81, 4);
    color: white;
    cursor: pointer;
}
.cake-button p{
    margin: 1rem;
}
.button{
    display: flex; 
}
.arrow-button{
    background-color: rgb(206, 182, 168);
    padding: 0.5rem;
}
.snacks{
    display: flex;
    position: absolute;
    width: 92%;
    justify-content: space-evenly; 
}
.snacks1{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    width: 100%;
}
.shadow:hover{
    box-shadow: 0px 0px 2px #bdbcbc;
}
.img1{
    width: 45%;
    height: 100%;
}
.img-p{
    display: block;
    width: 100%;
    text-align: center;
}
.about{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    margin-top: 8rem;
}
.about-h1{
    font-size: 35px;
}
.pink{
    color: rgb(253, 153, 168);
    font-size: 20px;
  }
.lighter{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;   
    font-size: 18px;
}
.about-text{ 
    width: calc(50% );
}
.about-img{
    width: calc(50% - 2.1rem);
    display: flex;
    justify-content: space-around;
}
.about-img1{
    width: 70%;
    height: 25em;
}
@media only screen and (max-width: 1000px) {
    .about-img1{
        width: 70%;
        height: 30em;
    }
}
/* recipes */
.recipes{
    margin-top: 6rem;
    margin-left: 6.5%;
}
.recipe-h1{
    padding-top: 15px;
    font-size: 30px;
}
.block2{
    display: flex;
    justify-content: right;
    gap: 1em;
    margin-bottom: 1em;
    font-size: 1.8rem;
    padding-right: 8rem;
    color: black;
}
#recipe-img{
    display: flex;
    justify-content: space-between;
    width: 90%; /* can be removed */
}
.no-height/*for main recipe images*/{
    width: 110%;
    height: 70%;
}
.recipe-img1{
    width: 18%;  
}
.recipe-p{
    text-align: center;
    width: 110%;
    position: relative;
    top: -10px;
    background-color: white;
    padding: 1rem;
}
.recipe-p:hover{
    box-shadow: 0px 0px 2px #bdbcbc;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}
/* menu */
.menu{
    margin-top: 4rem;
}
.menu-image{
    width: 105%;
    height: 80%;
}
.menu-p{
    text-align: center;
    width: 105%;
    position: relative;
    top: -10px;
    background-color: white;
    padding: 1rem;
}
.menu-p:hover{
    box-shadow: 0px 0px 2px #bdbcbc;
}
.menu-img{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 2em;
}
.menu-button{
    display: flex;
    justify-content: right;  
    gap: 2rem;
    width: 90%;
    padding: 2em;
}
.button-menu{
    padding: 8px 15px;
    background-color: rgb(223, 231, 231);
}
.button-menu:first-child{
    background-color: rgb(237, 206, 211);
}
.button-menu:hover{
    background-color: rgb(209, 227, 227);
    cursor: pointer;
}
.picture{
    padding: 2em 2em 0.5em 2em;
}
.middle{
    text-align: center;
    cursor: pointer;
}
.menu-link{
    display: flex;
    justify-content: right;  
    gap: 1rem;
    width: 80%;
    align-items: center;
}
.links{
    color: black;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
}
.links:hover{
    background-color: bisque;
}
.links:nth-child(8){
    background-color: rgb(237, 217, 209);
    padding: 6px 8px;
}
.links:nth-child(9){
    background-color: rgb(237, 217, 209);
    padding: 6px 8px;
    
}
/* testimonial */

/* footer */
.footer{
    padding: 3em;
}
.foot{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6em;
}
.f-list{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.footer-p p{
    margin-bottom: 2em;
}
.foot-input{
    width: 100%;
    border: none;
    height: 800%;
    padding: 1em;
    background-color: rgb(242, 242, 242);
}
.footer-input{
    width: 100%;
    height: 4%;
    position: relative;
}
.i3{
    position: absolute;
    left: 85%;
    top: 170%;
    width: 25px;
    height: 25px;
    color: rgb(158, 107, 59);
}
.copy{
    display: flex;
    justify-content: space-around;
}
.copy p{
    font-size: 12px;
}
.mee{
    display: flex;
}
